.card-front-back {
  --width: 130px;
  --height: 160px;
  width: var(--width);
  height: var(--height);
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(60deg);
}


.card-front-back > .front,
.card-front-back > .back {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: transform 0.5s;
}

.card-front-back > .card {
  position: absolute;
  backface-visibility: hidden;
}